$fz:16px;//Переменнаая
@mixin alignment_center($direction){ //Миксин в котором задается направление
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}
body{
  background-color: white;
}

input{
  font-size: $fz;
  border-radius: 5px;
  margin: 7px;
  @include alignment_center(column);
}

div{
  background-color: #fdf9f9;
  form{                           // использование вложенности
    border: 3px solid #b02121;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;

  }

}
#main_wrapper{
    @include alignment_center(row);
}