body {
  background-color: white;
}

input {
  font-size: 16px;
  border-radius: 5px;
  margin: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div {
  background-color: #fdf9f9;
}
div form {
  border: 3px solid #b02121;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

#main_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}